*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html {
    font-size: clamp(14px, calc(3vw + 1vh), 21px);
    scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}


body {
    font-family: 'Oswald', sans-serif;
    background-color: #000;
    display: flex;
    justify-content: center;
}

.c-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    background: rgba(255 255 255 / 0);
}

.outer-holder {
    /* overflow: hidden; */
    max-width: 1800px;
}

.outer-holder.light {
    --mainBGColor: #fff;
    --headerBGColor: hsla(0 0% 87% / 72%);
    --headerBGVariableOpacity: hsla(0 0% 95% / 90%);
    --mobileOverlayShade: hsla(0 0% 100% / 79%);
    --headlineColor: #000;
    --blurbTextColor: hsla(0 0% 38% / 100%);
    --secondaryColor: hsla(216 33% 29% / 100%);
    --accentColorLight: hsla(39 100% 89% / 100%);
    --accentColorTinted: hsla(40 100% 77% / 100%);
    --footerBGColor: hsla(0 0% 10% / 100%);
    --footerTextColor: hsla(0 0% 69% / 100%);
    --accentButtonColor: hsla(216 33% 29% / 100%);
    --secondaryContrastColor: hsla(216 33% 29% / 100%);
    --secondaryContrastVariableOpacity: 216 33% 29% /;
    --serviceDescriptionTextColor: hsla(0 0% 38% / 100%);
    --buttonAccentColor: hsla(0 0% 0% / 100%);
    --buttonArrowAccent: hsla(39 100% 89% / 100%);
    --imageOverlayShade: hsla(0 0% 100% / 80%);
    --serviceItemOverlayShade: hsla(0 0% 100% / 85%);
    --serviceItemShadow: #474747;
    
    --testimonial-link-color: hsla(173 100% 27% / 100%);
    --testimonial-img-overlay: linear-gradient(180deg, rgba(255, 255, 255, .4) 3.16%, rgba(255, 255, 255, .8) 100%);
    --testimonial-page-title-gradient: radial-gradient(50% 196.96% at 50% 50%, #F2FFF0 0%, #D7FFE2 64.48%, #BEFFE0 98.17%);;
    --testimonial-title-color: hsla(187 53% 40% / 100%);
    --testimonial-quote-background: hsla(166 85% 86% / 30%);
    --testimonial-quote-text-color: hsla(216 64% 21% / 100%);
    --testimonial-quote-icon-color: hsla(165 33% 62% / 100%);
    --testimonial-source-text-color: hsla(191 100% 17% / 100%);
    --testimonial-quote-divider-color: hsla(217 31% 57% / 100%);
    --testimonial-source-bg-color: hsla(191 100% 81% / 68%);
    --testimonial-contact-blurb-color: hsla(216 33% 29% / 100%);
    --testimonial-contact-link-color: hsla(202 100% 40% / 100%);  
    
    --contact-page-title-color: hsla(0 0% 0% / 41%);
    --low-contrast-divider-color: hsla(0 0% 92% / 100%);
}
.outer-holder.dark {
    --mainBGColor: hsla(0 0% 9% / 100%);
    --headerBGColor: hsla(0 0% 5% / 69%);
    --headerBGVariableOpacity: hsla(0 0% 5% / 80%);
    --mobileOverlayShade: hsla(0 0% 9% / 60%);
    --headlineColor: #fff;
    --blurbTextColor: hsla(0 0% 68% / 100%);
    --secondaryColor: hsla(216 33% 29% / 100%);
    --accentColorLight: hsla(39 100% 89% / 100%);
    --accentColorTinted: hsla(40 100% 77% / 100%);
    --footerBGColor: hsla(0 0% 23% / 100%);
    --footerTextColor: hsla(0 0% 59% / 100%);
    --accentButtonColor: hsla(40 100% 80% / 100%);
    --secondaryContrastColor: hsla(39 100% 89% / 100%);
    --serviceDescriptionTextColor: hsla(0 0% 82% / 100%);
    --buttonAccentColor: hsla(39 100% 80% / 100%);
    --buttonArrowAccent: hsla(0 0% 9% / 100%);
    --imageOverlayShade: hsla(0 0% 10% / 90%);
    --serviceItemOverlayShade: hsla(0 0% 0% / 86%);
    --serviceItemShadow: #000;

    --testimonial-link-color: hsla(166 100% 79% / 100%);
    --testimonial-img-overlay: rgba(0, 6, 10, 0.6);
    --testimonial-page-title-gradient: radial-gradient(51.27% 113.72% at 50% 50%, #0C1214 0%, #0D2228 100%);
    --testimonial-title-color: hsla(22 23% 64% / 100%);
    --testimonial-quote-background: hsla(0 0% 0% / 20%);
    --testimonial-quote-text-color: hsla(22 21% 52% / 100%);
    --testimonial-quote-icon-color: hsla(32 55% 68% / 100%);
    --testimonial-quote-divider-color: hsla(21 23% 64% / 100%);
    --testimonial-source-text-color: hsla(29 96% 66% / 100%);
    --testimonial-source-bg-color: hsla(202 100% 13% / 74%);
    --testimonial-contact-blurb-color: hsla(166 59% 60% / 100%);
    --testimonial-contact-link-color: hsla(202 100% 40% / 100%);

    --contact-page-title-color: hsla(0 0% 100% / 56%);
    --low-contrast-divider-color: hsla(0 0% 14% / 100%);
}


/* ---------------
    Section Name
---------------- */

.main-content-holder {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--mainBGColor);
    background-image: url('./assets/background-svg.svg');
    color: var(--headlineColor);
    z-index: 0;
}

/* .notes-toggle-button {
    position: absolute;
    height: 6vw;
    width: 10vw;
    right: 10px;
    top: 50px;
    z-index: 2;
}

.notes-to-client {
    position: absolute;
    right: 10px;
} */

.site-header {
    position: sticky;
    display: flex;
    justify-content: space-around;
    height: 61px;
    align-items: center;
    width: 100%;
    top: 0;
    background-color: var(--headerBGColor);
    z-index: 3;
}

.company-logo {
    padding: 5px;
}

.light-dark-holder {
    /* position: absolute; */
    /* top: 11px;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background-color: hsla(0 0% 0% / 0%);
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
}

.mode-change-text {
    font-size: .8rem;
    color: var(--headlineColor)
}
.light-dark-text {
    color: var(--accentButtonColor)
}
.light-dark-mode-arrow {
    height: 100%;
    padding-left: 5px;
}
.light-dark-mode-arrow path {
    fill: var(--secondaryContrastColor);
}

.mobile-hamburger-button {
    height: clamp(35px, 8vw, 50px);
    width: clamp(35px, 8vw, 50px);
    border: none;
    margin-right: 2%;
    padding: 0;
    overflow: hidden;
}
.hamburger-svg {
    height: 100%;
    width: 100%;
    object-fit: fill;
    object-position: center center;
}
.menu-holder {
    display: none;
}
.menu-holder.visible {
    display: block;
    position: absolute;
    top: 61px;
    right: 0;
}
.menu-list {
    position: absolute;
    display: flex;
    right: 0;
    flex-direction: column;
    background-color: var(--headerBGVariableOpacity);
    width: max-content;
    padding: 0 20px;
    font-size: 2em;
}
.menu-item {
    list-style: none;
    padding: 0;
    text-align: right;
}

.menu-item:hover a {
    text-decoration: underline;
}
.menu-item a {
    text-decoration: none;
    font-size: .8em;
    color: var(--secondaryContrastColor);
    font-weight: 200;
}


.splash-page-overlay {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--mobileOverlayShade);
}
.splash-content-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-image-holder {
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: none;
    position: absolute;
}
.hero-mobile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.firm-title {
    padding: 2%;
    font-weight: 200;
    text-align: center;
    font-size: 2.4em;
}

.accent-divider {
    height: 1px;
    width: 40%;
    margin: 5vh 0;
    background-color: var(--accentColorTinted);
}
.company-advertisement-blurb {
    font-size: .8em;
    color: var(--headlineColor);
    padding: 2% 10%;
    font-weight: 300;
}
.learn-more-button {
    display: none;
}

.service-holder-bg {
    display: none;
}
.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 7px;   
    margin-bottom: 50px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 5px 3px 10px -2px #474747;
    flex-basis: 37vw;
}
.service-item::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 40vw;
    bottom: -25px;
    right: 50%;
    transform: translateX(50%);
    background-color: #cdcdcd;
}
.service-item:last-child::after {
    display: none;
}
.service-item a {
    text-decoration: none;
    color: var(--secondaryContrastColor);
}
.service-item h3 a:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.service-section-title {
    margin: 4% 0;
    font-weight: 300;
}
.service-header {
    color: var(--secondaryContrastColor);
    font-weight: 400;
}
.service-description {
    color: var(--serviceDescriptionTextColor);
    font-size: .7em;
    padding: 2% 2% 2% 4%;
    margin-right: 10%;
}
.proceed-img-holder {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*top-right, bottom-right rounded borders */
    background: linear-gradient(90deg, hsla(0 0% 100% / 0%), hsla(0 0% 44% / 50%));
    border-radius: 0 8px 8px 0;
}
.proceed-img-holder img {
    height: 42px;
    width: 31px;
    object-fit: contain;
}
.consultation-offer-holder {
    position: relative;
    min-height: 60vw; 
    width: 100%;
    display: flex;
    justify-content: center;
}
.consultation-splash-img {
    width: 95vw;
    height: 95vw;
    object-fit: cover;
}
.free-consult-blurb {
    position: absolute;
    text-align: center;
    color: hsla(187 100% 40% / 100%);
    top: 15%;
    left: 10%;
    background: linear-gradient(90deg, hsla(0 0% 9% / 89%), hsla(0 0% 9% / 63%));
    width: clamp(200px, 80%, 350px);
}
.free-consult-blurb span {
    color: var(--accentColorTinted);
}

/* ---------------
    Footer
---------------- */

.main-page-footer {
    background-color: hsla(216 42% 8% / 100%);
    width: 100%;
    color: #fff;
    font-size: .6em;
    display: flex;
    justify-content: space-around;
}


/* ---------------------------------------------------------------------------------------------------------
                                For Accountant Page
----------------------------------------------------------------------------------------------------------- */
.for-accountant-hero-section-holder {
    position: relative;
    background-color: var(--serviceItemOverlayShade);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.for-accountant-title {
    font-weight: 300;
    text-align: center;
}
.sub-header-lighter {
    font-size: 1em;
    font-weight: 300;
    margin-top: 5vh;
    color: var(--serviceDescriptionTextColor);
}
.for-accountant-hero-img {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    object-fit: cover;
    z-index: -1;
}
.document-details-holder {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4vw;
    margin-top: 12vh;
    text-align: center;
    padding: 2vw;
}
.records-blurb {
    width: 100%;
    color: var(--serviceDescriptionTextColor);
}
.detail-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 80vw;
    flex-grow: 1;
    margin-top: 6vh;
    position: relative;
}
.detail-item::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 40vw;
    bottom: -25px;
    right: 50%;
    transform: translateX(50%);
    background-color: var(--secondaryContrastColor);
}
.detail-item ul {
    margin: 2% 0;
}
.detail-item:last-child::after {
    display: none;
}
.item-icon {
    height: 110px;
}
.detail-item-name {
    color: var(--secondaryContrastColor);
    margin: 4% 0;
    font-weight: 300;
}
.detail-item-description {
    color: var(--serviceDescriptionTextColor);
    font-weight: 300;
}
.detail-itemization {
    align-self: start;
    text-align: left;
    font-size: .8em;
    font-weight: 300;
}

/* ---------------------------------------------------------------------------------------------------------
                                
----------------------------------------------------------------------------------------------------------- */




/* ---------------------------------------------------------------------------------------------------------
                                Specialities Page
----------------------------------------------------------------------------------------------------------- */
.services-offered {
    position: relative;
    background-color: var(--serviceItemOverlayShade);
    width: clamp(320px, 98vw, 1800px);
    min-height: 100vh;
    padding: 0;
}

.services-hero-holder {
    position: absolute;
    z-index: -1;
    height: 100%;
}
.services-hero-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.services-list {
    color: var(--serviceDescriptionTextColor);
}

.services-list-title {
    color: var(--serviceDescriptionTextColor);
    font-size: 1.8em;
    font-weight: 300;
    margin: 10vh 2vw;
    text-align: center;
}

.services-item {
    margin: 1% 0 0 5%;
    font-weight: 400;
}

/* ---------------------------------------------------------------------------------------------------------
                                
----------------------------------------------------------------------------------------------------------- */



/* ---------------------------------------------------------------------------------------------------------
                                Testimonials Page
----------------------------------------------------------------------------------------------------------- */

/* Non-variable font for testimonials page             */
.testimonials-content {
    font-family: 'Questrial', sans-serif;
}
.outer-holder.testimonials .testimonial-link {
    color: var(--testimonial-link-color);
}

.testimonials-title {
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    font-weight: lighter;
    padding: 8vh 0;
    background: var(--testimonial-page-title-gradient);
    color: var(--testimonial-title-color);

}
.outer-quotes-holder {
    position: relative;
    background: var(--testimonial-img-overlay);
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.testimonials-splash-img-holder {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.testimonials-splash-img {
    width: 100%;
    height: 100%;   
    object-fit: cover;
}
.mobile-quote-divider {
    width: 100%;
    margin: 50px 0;
}
.quotations-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 5vh 0;
}
.customer-quote {
    flex-basis: clamp(300px, 33vw, 400px);
    margin: 0 5vw;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.quote-text-holder {
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
}
.quote-text {
    position: relative;
    background: var(--testimonial-quote-background);
    padding: 20px;
    border-radius: 15px;
    color: var(--testimonial-quote-text-color);
}
.open-quote-icon-holder {
    position: absolute;
    height: 45px;
    width: 45px;
    top: -20px;
    left: -20px;
    z-index: -1;
}
.close-quote-icon-holder {
    position: absolute;
    height: 45px;
    width: 45px;
    bottom: -20px;
    right: -20px;
    z-index: -1;
    transform: rotate(180deg);
}
.open-quote-icon-holder svg, .close-quote-icon-holder svg{
    height: 100%;
    width: 100%;
    fill: var(--testimonial-quote-icon-color);
}

.quote-divider {
    width: clamp(100px, 10vw, 200px);
    height: 2px;
    background-color: var(--testimonial-quote-divider-color);
    margin: 25px 0;
}
.quote-cite p {
    width: 17ch;
    text-align: center;
    font-style: normal;
    font-size: .8em;
    padding: 8px 0;
    color: var(--testimonial-source-text-color);
    background-color: var(--testimonial-source-bg-color);
    margin-bottom: 8px;
    border-radius: 10px;
}

.call-to-action-message-holder {
    display: flex;
    justify-content: center;
    margin: 5vh 5vw;
    color: var(--testimonial-contact-blurb-color)
}
.call-to-action-message-holder div ul {
    margin: 2vh 0;
}
.cta-closing-line a {
    color: var(--testimonial-contact-link-color);
}

/* ---------------------------------------------------------------------------------------------------------
                                
----------------------------------------------------------------------------------------------------------- */



/* ---------------------------------------------------------------------------------------------------------
                                Contact Page
----------------------------------------------------------------------------------------------------------- */



.contact-page-base {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.contact-page-title {
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-size: 5em;
    color: var(--contact-page-title-color);
    top: 50vh;
    transform: translateY(-50%);
}
.contact-splash-image-holder {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.contact-splash-image {
    min-height: 100vh;
    width: 140%;
    object-fit: cover;
}
.contact-page-content-holder {
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-us-blurb {

}
.contact-us-blurb span {
    text-transform: uppercase;
}

.or-divider-cta {
    text-align: center;
}
.contact-form-message-divider {
    width: 50vw;
    height: 2px;
    background-color: var(--low-contrast-divider-color);
    margin: 25px 0;
}
.send-message-cta {
    text-align: center;
}
.contact-us-form {
    margin-bottom: 5vh;
}
.contact-us-form label {
    font-size: .7em;
}

.contact-us-form > div {
    position: relative;
}
.contact-us-form > div > label {
    position: absolute;
    top: 50%;
    left: clamp(10px, 2%, 15px);
    transform: translateY(-50%);
    transition: all .1s ease-in-out;
    color: #ADADAD;
}
.contact-text-holder > label {
    top: 33% !important;
}
.contact-input:focus + label {
    transform: translateY(-150%);
    background-color: hsla(0 0% 100% / 100%);
    color: hsla(216 78% 44% / 100%);
    padding: 0 3px;
}
.contact-input:valid + label {
    display: none;
}
input:-moz-ui-invalid {
    box-shadow: none;
}
textarea:-moz-ui-invalid {
    box-shadow: none;
}
.contact-input:invalid {
    outline: none;
    border: 2px solid hsla(0 0% 82% /100%);
    border-left: 2px solid hsla(0 100% 80% / 100%);
}
.contact-email-holder input:invalid + label {
    
    /* transform: translateY(-190%); 
     color: hsla(0 71% 45% / 100%); */
}


.contact-input {
    border-radius: 4px;
    margin: 5% 0;
    border: 2px solid hsla(0 0% 82% /100%);
}
.contact-input:focus {
    border: 2px solid hsla(216 48% 57% / 100%);
    outline: hsla(216 48% 57% / 100%);
    box-shadow: 26px 20px 16px -6px rgba(0 0 0 / 30%);
}
.contact-input:not(textarea) {
    font-size: 1em;
    height: 3.5ch;
    line-height: 1;
}
textarea.contact-input {
    height: 10vh;
    width: 70vw;
    resize: vertical;
}
.contact-submit-button {
    border: none;
    font-family: inherit;
    height: 55px;
    width: 150px;
    color: #fff;
    background-color: hsla(216 75% 36% / 100%);
}
/* ---------------------------------------------------------------------------------------------------------
                                
----------------------------------------------------------------------------------------------------------- */





/* --------------------------------------------------------------- */

@media (min-width: 900px) {
    .site-header {
        justify-content: space-evenly;
    }
    .mobile-hamburger-button {
        display: none;
    }
    .menu-holder {
        display: block;
    }
    .menu-list {
        display: flex;
        flex-direction: row;
        position: static;
        padding: 0;
        font-size: 1em;
    }
    .menu-item {
        margin: 0 20px;
        display: flex;
        align-items: center;
    }

    .splash-page-overlay {
        position: relative;
        display: block;
        /* flex-direction: column;
        align-items: center; */
        width: 100%;
        height: 100vh;
        background-color: hsla( 0 0% 0% / 0%);
    }

    .main-image-holder {
        float: right;
        position: static;
        height: 100%;
        width: 45%;
    }

    .hero-mobile-img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    .splash-content-holder {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 55%;
    }
    .firm-title {
        font-size: 2.6em;
        font-weight: 300;
        margin-top: 50px;
    }
    .company-advertisement-blurb {
        max-width: 80%;
        color: var(--blurbTextColor);
    }
    .learn-more-button {
        margin-top: 80px;
        font-size: .7em;
        display: flex;
        align-items: center;
        width: 25vh;
        height: 70px;
        border: none;
        background-color: var(--secondaryColor);
        padding: 0;
    }
    .learn-more-button:active {
        box-shadow: 25px 15px 59px -20px #3b3b3b;
    }
    .learn-more-text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        flex-basis: 60%;
        height: 100%;
        font-size: 1.4em;
        font-family: 'Oswald', sans-serif;
        text-align: center;
    }
    .learn-more-text a {
        color: #fff;
        text-decoration: none;
    }
    .arrow-container {
        height: 100%;
        flex-grow: 2;
        background-color: var(--buttonAccentColor);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .button-arrow-svg path {
        fill: var(--buttonArrowAccent);
    }
    .service-holder {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: var(--imageOverlayShade);
        padding: 4%;
    }
    .service-holder-bg {
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
    .service-holder-bg-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .service-item {
        max-width: 40%;
        border: none;
        box-shadow: none;
        margin-bottom: 30px;
        height: 142px;
        flex-basis: 30vw;
    }
    .service-item::after {
        display: none;
    }
    .proceed-img-holder {
        display: none;
    }
    .service-item:hover {
        border-radius: 20px;
        box-shadow: 15px 10px 20px 5px var(--serviceItemShadow);
    }
    .service-item:hover .proceed-img-holder {
        display: flex;
    }
    .consultation-offer-holder {
        position: relative;
        min-height: 60vw; 
        width: 100%;
    }
    .consultation-splash-img {
        height: 50vw;
        width: 50vw;
        object-fit: cover;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    }
    .free-consult-blurb {
        position: absolute;
        text-align: center;
        color: hsla(187 100% 40% / 100%);
        top: 15%;
        left: 20%;
        background: linear-gradient(90deg, hsla(0 0% 9% / 89%), hsla(0 0% 9% / 63%));
        width: 400px;
    }

.services-list {
    columns: 2;
     -webkit-columns: 2;
     -moz-columns: 2;
}   
/* ---------------------------------------------------------------------------------------------------------
                                For Accountant Page
----------------------------------------------------------------------------------------------------------- */
    .for-accountant-hero-section-holder {
        height: 50vh;
    }
    .for-accountant-title {
        font-weight: 300;
        text-align: center;
    }
    .sub-header-lighter {
        font-size: 1em;
        font-weight: 300;
        margin-top: 5vh;
        color: var(--serviceDescriptionTextColor);
    }
    .document-details-holder {
        display: flex;
        flex-wrap: wrap;
        gap: 4vw;
        margin-top: 12vh;
        text-align: center;
        padding: 2vw;
    }
    .detail-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 27vw;
        flex-grow: 0;
        margin-top: 6vh;
    }
    .detail-item::after {
        display: none;
    }
    .item-icon {
        height: 110px;
    }
    .detail-item-name {
        color: var(--secondaryContrastColor);
        margin: 4% 0;
        font-weight: 300;
    }
    .detail-item-description {
        color: var(--serviceDescriptionTextColor);
        font-weight: 300;
    }

/* ---------------------------------------------------------------------------------------------------------
                                
----------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------------
                                Testimonials Page
----------------------------------------------------------------------------------------------------------- */
    .mobile-quote-divider {
        display: none;
}
}